<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.itbank.webproject.dto.memberMapper"> 
	<select id="checkMember" resultType="memberDTO" 
												parameterType="java.util.Map">
		select * from member where ssn1=#{ssn1} and ssn2=#{ssn2}
	</select>
	
	<insert id="insertMember" parameterType="memberDTO">
		insert into member values (member_seq.nextval, 
		#{name}, #{id}, #{passwd}, #{ssn1}, #{ssn2}, 
		#{email}, #{hp1}, #{hp2}, #{hp3},sysdate)
	</insert>
	
	<select id="listMember" resultType="memberDTO">
		select * from member
	</select>
	
	<select id="findMember" resultType="memberDTO" 
													parameterType="java.util.Map">
		select * from member where ${search} = #{searchString}
	</select>
	
	<delete id="deleteMember" parameterType="int">
		delete from member where no = #{no}
	</delete>
	
	<select id="getMember" resultType="memberDTO" parameterType="int">
		select * from member where no = #{no}
	</select>
	
	<update id="updateMember" parameterType="memberDTO">
		update member set passwd=#{passwd}, email=#{email}, 
			hp1=#{hp1}, hp2=#{hp2}, hp3=#{hp3} where no = #{no}
	</update>
	
	<select id="getMember2" resultType="memberDTO" parameterType="String">
		select * from member where id = #{id}
	</select>
	
	<select id="searchId" resultType="String" parameterType="java.util.Map">
		select id from member where name=#{name} and ssn1=#{ssn1} and ssn2=#{ssn2}
	</select>
	
	<select id="searchPw" resultType="String" parameterType="java.util.Map">
		select id from member where name=#{name} and ssn1=#{ssn1} and ssn2=#{ssn2} and id=#{id}
	</select>
</mapper>